<!DOCTYPE html>
<html lang=en>
<head>
	<meta charset="utf-8">
  <title>Canapepere</title>
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
</head>

<body>
  <div></div>
  <link  href="https://cdnjs.cloudflare.com/ajax/libs/marx/3.0.3/marx.min.css" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-router/3.0.1/vue-router.js"></script>
  <script src="http://livejs.com/live.js"></script>
  <!-- local version -->
  <link  href="marx.min.css" rel="stylesheet">
  <script src="vue.js"></script>
  <script src="vue-router.js"></script>
  <script src="live.js"></script>
<script>
let NavBar = Vue.component('NavBar', ({
  template: `<nav>
  <router-link :to="{ name: 'home'}">Logo</router-link>
  <form action=token method=POST class=flex>
    <input name=user placeholder=user type=text class=shrink>
    <input name=pass placeholder=pass type=password class=shrink>
    <input type=submit value="Sign in">
  </form>
  <router-link :to="{ name: 'recipe', params: { id: 123 }}">Cake</router-link>
  <router-link :to="{ name: 'user', params: { id: 123 }}">Sign up</router-link>
  </nav>`,
  data: () => ({
    isSignin:0
  })
}));
let Toaster = Vue.component('Toaster', {
  template: '<div>toaster</div>'
});
let App = Vue.component('App', ({
  template: `<div><NavBar/><main><router-view/></main><Toaster/></div>`,
  components: { NavBar, Toaster },
}));
let Search = Vue.component('Search', ({
  template: `
  <form action=recipe @submit.prevent=$root.fetch class=flex>
  <input type=search name=q placeholder="Ingredients... (ex. beef, apple:3, milk:500ml)" @change="validate()" list=ingredients>
  <input type=submit value=search>
  <datalist id=ingredients><option v-for="i in ingredients" :key=i.name :value=i.name>{{i.name}} ({{i.unit}})</option></datalist>
  </form>`,
  data : () => ({
    ingredients:[],
  }),
  created() {
    this.$root.fetch("ingredient")
    .then(j => this.ingredients=j)
    .catch(console.error);
  },
  methods: {
    validate() {
      console.log(this);
    },
  }
}));
let User = Vue.component('User', {
  template: '<div>user</div>'
});
let Recipe = Vue.component('Recipe', ({props: ["id"],
  template: `<div v-if=recipe>
  <h1>{{recipe.name}} <small>by <router-link :to="{ name: 'user', params: { id: recipe.by }}">{{recipe.by}}</router-link></small></h1>
  <img v-for="photo in recipe.photos" :key=photo :src=photo>
  <ul>
    <li v-for="ingredient in recipe.ingredients" :key=ingredient.name>{{ingredient.name}} {{ingredient.amount}} {{ingredient.unit}}</li>
  </ul>
  <ol>
    <li v-for="step in recipe.steps" :key=step>{{step}}</li>
  </ol>
  </div>
  <div v-else-if="recipe===null">Loading</div>
  <div v-else>Error</div>`,
  methods: {
  },
  data: () => ({recipe:null}),
  watch: {
    id:{handler(id){this.$root.fetch(`recipe/${id}`).then(j=>this.recipe=j)}, immediate:true}
  }
}));
let Page = Vue.component('Page', {
  template: '<div>Page</div>'
});
let Void = Vue.component('Void', ({
  template: `<div>What are you doing here ?</div>`
}));
Vue.use(VueRouter)
v=new Vue({
  el: 'div',
  render: h => h(App),
  data: function () {
    return {
      get auth() { return JSON.parse(localStorage.getItem('token') || 'null'); },
      set auth(v) { localStorage.setItem('token', v) },
    };
  },
  methods: {
    fetch(formOrPath, query="") {
      var params = { headers: { authorization: localStorage.token }, method: ((formOrPath.attributes||{}).method||{}).value || 'GET', query};
      if (formOrPath instanceof HTMLFormElement) {
        if (params.method.match(/^POST$/i)) params.body = new FormData(formOrPath);
        else params.query = new URLSearchParams(new FormData(formOrPath));
        params.path = new URL(formOrPath.action).pathname;
      } else {
        params.path = formOrPath;
        params.query = Object.keys(params.query).map(k => encodeURIComponent(k) + '=' + encodeURIComponent(params.query[k])).join('&');
      }
      return fetch("/api/"+params.path + (params.query?'?':'') + params.query, params).then(r => {
        if (!r.ok) throw Error(r.statusText);
        if (r.headers.has('authorization'))this.$root.token = r.headers.get('authorization');
        return r.json();
      })
    }
  },
  router: new VueRouter({
    mode: 'history',
    routes: [
      { path: '/', name: "home", component: Search },
      { path: '/search/:query?', name: "search", component: Search, props: true },
      { path: '/recipe/:id?', name: "recipe", component: Recipe, props: true },
      { path: '/user/:id?', name: "user", component: User, props: true },
      { path: '*', component: Void },
    ]
  }),
})

</script>
<style>
body {
  background: #ededed;
}
@media only screen {
  main {
    background: rgba(255, 255, 255, 0.85);
    border: 1px solid #ccc;
    border-radius: 0.4em;
    padding: 1em 2em 2em 2em;
    margin: 2em auto;
  }
}
@media only print {
  nav {
    display:none!important;
  }
}
nav {
  position: sticky;
  top: 0;
  z-index: 99;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0 0.5em 0.5em -0.5em;
  padding: 0.5em 0;
  background: #1d3557;
  margin: auto;
}
nav a {
  color: white;
}
.flex {
  display: flex;
}
nav input.shrink{
  width:5em;
  transition: width .5s;
}
nav input.shrink:focus{
  width:10em;
}
button {
  cursor: pointer;
}
</style>
</body>
